<!-- {% load static %}


<div class="holding">
    <h3>{{holding.ticker}}</h3>
    <p>{{holding.closing_price}}</p>
    <button type="button" class="update-holding btn btn-sm btn-primary" data-form-url="{% url 'update_holding' holding.pk %}">
        <span class="fa fa-pencil"></span>
    </button>
     <p>{{holding.closing_price}}</p> 
</div>
 
<script type="text/javascript">
    $(function () {
  
      // update holding buttons
      $(".update-holding").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url")});
      })
})




</script> -->
