html{
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

ul{
    list-style: none;
    margin: 0;
}

nav{
    height: 80px;
    background: #4787ff;
}

.container-fluid{
    padding: 0;
}

.footer{
    background-color: #4787ff;
    height: 50px;
    padding:15px;
    text-align: center;
}

.heart-icon{
    color: tomato;
}

.heart-icon:hover{
    color: maroon
}

.footer a {
    color: tomato;
    text-decoration: none;
}

.nav-item .nav-link{
    color: #fff;
    padding: 15px;
}

.nav-item > .nav-link.active{
    background-color: tomato;
}

/* .title{
    text-decoration: underline;
    text-decoration-color: tomato;
    text-decoration-thickness: 0.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
    
} */

.title{
    margin-top: 40px;
    margin-bottom: 20px;
    position:relative;
    font-size: 2.4rem;
    display: inline-block;
    
}


.title::after {
    content: " ";
    background: tomato;
    position: absolute;
    display: block;
    height: 20%;
    width: 110%;
    top: 95%;
    left: -2%;
    z-index: -1;
}