tr {
    margin-bottom: 50px;
}

.value-return-container{
    box-shadow: 0 20px 20px 0 #e0e0e0;
    background: #fafafa;
    border: dotted silver 1px;
    width: 80%;
    margin: 50px 0;
}

.portfolio-val{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.val-container{
    width: 20%;
    display: flex;
    align-items: center;
}

.return-icon{
    font-size: 40px;
    margin-right: 8px;
    width: 30px;
}

.portfolio-num{
    font-size: 4rem;
    width: 65%;
    text-align: right;
}

.return-up{
    color: green;
    font-size: 20px;
}

.return-down{
    color:red;
    font-size: 20px;
}

.holding-button-icon{
    font-size: 12px;
}


a:hover, .ticker-title:hover, .holding-total:hover, .holding-net-val:hover{
    color:tomato;
}

.holdings{
    margin-bottom: 40px;
}

.holding-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.holding-btn{
    background: none;
    border: none;
}

.ticker-title{
    font-size: 2.4rem;
}

.holding-total{
    font-size: 2rem;
}

.holding-net{
    padding:4px 0;
}

tr > .cell {
    padding: 12px;
}

.holding-button-icon{
    border: solid whitesmoke;
    padding: 5px;
    border-radius: 50%;
    margin: 2px 0;
}



