.asset-row {
    margin-bottom: 50px;
}

.value-return-container{
    box-shadow: 0 20px 20px 0 #e0e0e0;
    background: #fafafa;
    border: dotted silver 1px;
    width: 80%;
    margin: 50px 0;
}

.portfolio-val{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.val-container{
    width: 20%;
    display: flex;
    align-items: center;
}

.return-icon{
    font-size: 40px;
    margin-right: 8px;
    width: 30px;
}

.portfolio-return{
    padding-top: 100px;
}

.portfolio-num{
    font-size: 4rem;
    width: 65%;
    text-align: right;
}



.holding-button-icon{
    font-size: 12px;
}

.holdings{
    padding-bottom: 100px;
}

.holdings-table{
    margin-top: 50px;
    color: #585858;
}

.holding-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.holding-btn{
    background: none;
    border: none;
}

.holding-title{
    font-size: 2rem;
    padding: 12px 0;
}

.holding-total{
    font-size: 2rem;
}

.holding-total-text{
    font-size: 1.75rem;
}

.holding-net{
    padding:4px 0;
}

thead, tbody, tfoot, tr, td, th{
    border: none;
}

.asset-row{
    border-bottom: thin dotted;
}

.asset-row > .cell {
    padding: 20px 12px;

}

.holding-button-icon{
    border: solid whitesmoke;
    padding: 5px;
    border-radius: 50%;
    margin: 2px 0;
}

.hold-text{
    margin-right: 5px;
}

.fas{
    color: tomato;
}

.fas:hover{
    color:  #002b7c;
}

.return-up.holding-return-icon{
    color: green;
    font-size: 20px;
}

.return-down.holding-return-icon{
    color:red;
    font-size: 20px;
}

a {
    color: #585858
}

a:hover{
    color:tomato;
}
