tr {
    margin-bottom: 50px;
}


.return-container{
    display: flex;
}

.return{
    padding: 50px;
    margin: 50px 200px;
    box-shadow: 0 20px 20px 0 #e0e0e0;
    border: dotted silver 1px;
    width: 30%;
    height: 250px;
    border-radius: 10px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-icon{
    font-size: 40px;
}

.return-num{
    font-size: 40px;
}

.return-up{
    color: green;
    font-size: 20px;
}

.return-down{
    color:red;
    font-size: 20px;
}

.holding-button-icon{
    font-size: 12px;
}

a {
    text-decoration: none;
    color: green
}

.holding-return{
    display: flex;
    flex-direction: column;
}


.holding-buttons{
    display: flex;
    flex-direction: column;
}

.holding-btn{
    background: none;
    border: none;
}

.ticker-title{
    font-size: 2.4rem;
}

.holding-total{
    font-size: 2rem;
}

