{% extends "base.html" %}



{% block title %}
    Search ticker
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<section class='test'>
    <p>{{method}}</p>
    <p>{{asset}}</p>

</section>

<section class='welcome'>

    
    <form action="{% url 'starting-page' %}" method="post">
        {% csrf_token %}
        <ul>
            {{ticker_form.as_ul}}
        </ul>
        <input type='submit' name='searchticker' value='Search'/>
    </form>

</section>
<section class='get-info'>
    {{ticker_valid}}
    {% if ticker_valid %}
        <div class="ticker-details">
            <form action="{% url 'starting-page' %}" method="post">
            {% csrf_token %}
                <!-- <ul>
                    {{asset_form.as_ul}}
                </ul> -->
                <input type='submit' name='addasset' value='Add'/>
            </form >
        </div>

        <div class='news'>
                {% for item in news %}
                        <article> {{item.title}} </article>
                    {% endfor %}
        </div>
    {% endif %}
    <p>session: {{sess}}</p>
    
    
</section>


   
    <!-- <form action="{% url 'portfolio-page' %}" method="post">
        {% csrf_token %}
        <ul>
            {{tickerform.as_ul}}
        </ul>
        <button>Search</button>
    </form> -->
    <!-- if post request then ticker else news -->

    

        

   
 
    
    
   
        <!-- {% if ticker_exist %} -->
        <!-- <p>{{ ticker}}</p>
        <p>{{response}}</p> -->
        <!-- show ticker data + news -->
            
        <!-- button to send ticker to database with cookie id/user session info -->
        <!-- stored in session -->
        
            <!-- {{ticker}}
            {{ news }}
        {% else %}
            <p>Couldn't find ticker</p>
        {% endif %} -->


{% endblock %}