{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}



{% block title %}
    Search
{% endblock %}

{% block css_files %}
<link rel='stylesheet' href="{% static 'portfolioapp/index.css' %}">
{% endblock %}

{% block content %}

<nav class="nav nav-pills nav-fill navbar navbar-expand-sm sticky-top">
    <div class="container">
        <!-- <a class='navbar-brand' href='#'><img src='img/logo-one.png' class='navbar-logo'>
        </a> -->
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#home-nav'>
            <span class='navbar-togler-icon'>
            </span>
        </button>
        <div class='navbar-collapse collapse' id='home-nav'>
            <ul class='navbar-nav'>
                <li class='nav-item active'>
                    <a class="nav-link nav-home active" href="{% url 'starting-page' %}">Home</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link nav-portfolio" href="{% url 'portfolio-page' %}">Portfolio</a>
                </li>
    </div>
</nav>

<div class="welcome-info-container">
    <section class='welcome'>
        <div class="container ticker-search">
            <h1 class='title'>Search</h1>
            <h4 class='subtitle'>Type a stock ticker symbol to start</h4>
            <form action="{% url 'starting-page' %}" method="post" class='search-form'>
                {% csrf_token %}
                <ul>
                    {{ticker_form.as_ul}}
                </ul>
                <button type='submit' class='btn btn-primary search-btn' name='searchticker' value='Search'>
                    {% fa5_icon 'search fas' class='holding-plus holding-button-icon' %}
                    Search
                </button>
                <!-- <input type='submit' class='btn btn-primary' name='searchticker' value='Search'/> -->
            </form>
            <div class='mess'>
                {{message}}
            </div>
        </div>
    </section>
    <section class='get-info'>
        <div class="container ticker-add">
            {% if ticker_valid %}
                <!-- Add Ticker button -->
                <div class="ticker-details">
                    <div class="ticker-name">
                        <h2>{{asset_name}}</h2>
                        <h3>{{asset_ticker}}</h3>
                    </div>
                        <!-- click button opens modal -->
                        <!-- if exists in portfolio -->
                        <!-- button that deletes from portfolio -->

                        <!-- if asset doesnt exist in portfolio -->
                        {% if btn_action == "add" %}
                            <button>
                                <a href="{% url 'add-portfolio' asset_ticker %}">
                                    {% fa5_icon 'plus fas' class='holding-plus holding-button-icon' %}
                                    Add to Portfolio
                                    <!-- Modal has form to add asset pp, pq -->
                                </a>
                            </button>
                        {% else %}
                            <button class='' name='deleteticker' value='delete'>
                                <a class="close-icon" onclick="deleteTicker(this)" data-id="{{ asset_ticker }}">
                                    {% fa5_icon 'trash fas' class='holding-trash holding-button-icon' %}
                                    Delete
                                </a>
                            </button>
                        {% endif %}
                    <!-- <form action="{% url 'starting-page' %}" method="post" class="add-form">
                    {% csrf_token %}
                        <button type='submit' name='addasset' value='Add' class='btn btn-primary add-btn'>
                            {% fa5_icon 'plus fas' class='holding-plus holding-button-icon' %}
                            Add to Portfolio
                        </button>
                    </form > -->
                </div>
                <div class='news'>
                    <h1 class='title'>News</h1>
                    {% for item in news %}
                            <article> {{item.title}} </article>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</div>

<script>
    function deleteTicker(e){

        let ticker = e.dataset.id
        
    
        fetch('', {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
            'ticker': ticker
          }),
          credentials: 'same-origin',
        })
    }
</script>


<script type='text/javascript' src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type='text/javascript' src="{% static 'js/popper.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}