{% extends "base.html" %}



{% block title %}
    Search ticker
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link nav-home active" href="{% url 'starting-page' %}">Home</a>
    <a class="nav-item nav-link nav-portfolio" href="{% url 'portfolio-page' %}">Portfolio</a>
</nav>

<section class='welcome'>

    
    <form action="{% url 'starting-page' %}" method="post">
        {% csrf_token %}
        <ul>
            {{ticker_form.as_ul}}
        </ul>
        <input type='submit' class='btn btn-primary' name='searchticker' value='Search'/>
    </form>

</section>
<section class='get-info'>
    {{ticker_valid}}
    {% if ticker_valid %}
        <div class="ticker-details">
            <form action="{% url 'starting-page' %}" method="post">
            {% csrf_token %}
                <!-- <ul>
                    {{asset_form.as_ul}}
                </ul> -->
                <input type='submit' name='addasset' value='Add'/>
            </form >
        </div>

        <div class='news'>
                {% for item in news %}
                        <article> {{item.title}} </article>
                    {% endfor %}
        </div>
    {% else %}
        <div>
            {{news}}
        </div>

    {% endif %}
    <p>session: {{sess}}</p>
    
    
</section>



    

        

   
 
    
    



{% endblock %}