{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block title %}
    Portfolio
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'portfolioapp/portfolio.css' %}">
{% endblock %}

{% block content %}

<nav class="nav nav-pills nav-fill navbar navbar-expand-sm sticky-top">
    <div class="container">
        <!-- <a class='navbar-brand' href='#'><img src='img/logo-one.png' class='navbar-logo'>
        </a> -->
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#home-nav'>
            <span class='navbar-togler-icon'>
            </span>
        </button>
        <div class='navbar-collapse collapse' id='home-nav'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <a class="nav-link nav-home" href="{% url 'starting-page' %}">Home</a>
                </li>
                <li class='nav-item active'>
                    <a class="nav-link nav-portfolio active" href="{% url 'portfolio-page' %}">Portfolio</a>
                </li>
        </div>
    </div>
</nav>

<section class='portfolio-return'>
    <div class="container">
        <h1 class='holding-title'>Return</h1>
        <div class="return-container">
            <div class="return-dol return">
                {% fa5_icon 'dollar-sign fab' class='dollar-icon return-icon' %}
                <span class='doll-num return-num'>{{return_doll}}</span>
            </div>
            <div class="return-per return">
            {% fa5_icon 'percent' class='percent-icon return-icon' %}
            <span class='percent-num return-num'>{{return_per}}</span>
            </div>
        </div>
    </div>
</section>

<section class='holdings'>
    <div class="container">
        <h1 class='holding-title'>Holdings</h1>
        <table id='holdings-table' class='table'>
            <tbody>
                <tr>
                    <th class='cell'>Ticker</th>
                    <th class='cell'>Value</th>
                    <th class='cell'>Actions</th>
                </tr>
                {% for holding in holdings %}
                <tr class='asset-row'>
                        <td class='cell col-3'>
                            <h3 class='ticker-title'>{{holding.ticker}}</h3>
                        </td>
                        <td class='cell holding-return col-5'>
                                <span class='holding-total'>{{holding.total_return}}</span>
                                <div class="holding-net">
                                     <!-- icon -->
                                   {% if holding.net_return > 0 %} 
                                        {% fa5_icon 'caret-up fas' class='return-up holding-return-icon' %}
                                    {% elif 0 > holding.net_return   %}
                                        {% fa5_icon 'caret-down fas' class='return-down holding-return-icon' %}
                                    {% endif %}
                                <span class='holding-net-val'>{{holding.net_return}}</span>
                             
                            </div>
                        </td>
                        <td class='cell holding-buttons col-4'>
                            <button class='holding-btn'>
                                    <a href="{% url 'update-portfolio' holding.ticker %}">
                                        {% fa5_icon 'pen fas' class='holding-edit holding-button-icon' %}
                                        Edit
                                    </a>
                            </button>
                            <button class='holding-btn'>
                                    <a class="close-icon" onclick="deleteTicker(this)" data-id="{{ holding.ticker }}">
                                        {% fa5_icon 'trash fas' class='holding-trash holding-button-icon' %}
                                        Delete
                                    </a>
                            </button>
                        
                    </td>
                        <!-- <p class='hold-pp'><span>Purchased Price </span><span> {{holding.purchase_price}}</span></p>
                        <p class='hold-pq'><span>Purchased Quantity </span><span> {{holding.purchase_quantity}}</span></p> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>



<script>
    function deleteTicker(e){
        
        let ticker = e.dataset.id
        e.closest('.asset-row').remove()

        fetch('', {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({
            'ticker': ticker
          }),
          credentials: 'same-origin',
        })
    }
</script>


<script type='text/javascript' src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type='text/javascript' src="{% static 'js/popper.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>


<!-- MODAL  -->
<!-- <script type="text/javascript">
    $(function () {
      // Update trigger - formURL is retrieved from the data of the element and ticker passed?
      $(".update-holding").on('show.bs.modal', function(event){
        let button = $(event.relatedTarget)
        let recipent = button.data('form-url')
        let modal = $(this)
        formURL:$(this).data("form-url"),
        modalID: "#modal"
      });
    });
</script> -->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="{% static 'portfolioapp/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script> -->
<!-- You can alternatively load the minified version -->
{% endblock %}