{% extends "base.html" %}
{% load static %}

{% block title %}
    Update Holding
{% endblock %}

{% block css %}
    <link rel='stylesheet' href="{% static 'portfolioapp/update-holding.css' %}">
{% endblock %}

{% block content %}
<!-- <div>
    "TESTINS"
</div> -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Holding</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <form method="post" action="{% url 'update_holding' ticker %}">  
                        {% csrf_token %}
                    <!-- <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                
                    {% for field in form %}
                        <div class= "form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        </div>
                    {% endfor %} -->
                        <ul>
                            {{form.as_ul}}
                        </ul>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <!-- <span class="fa fa-pencil"></span> -->
                    </form>
                </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type='text/javascript' src="{% static 'js/popper.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#modal').modal('show');
    });
</script>


{% endblock %}