{% extends "base.html" %}
{% load static %}


{% block title %}
    Update
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'portfolioapp/modal.css' %}">
{% endblock %}

{% block content %}

<!-- Modal opens with edit options -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Holding</h5>
            </div>
            <div class="modal-body">
                <div class="container-form">
                    <form method="post" action="{% url 'update-portfolio' ticker %}">  
                        {% csrf_token %}
                        <ul>
                            {{form.as_ul}}
                        </ul>
                        <div class='modal-footer'>
                            <input type="submit" name='updateticker' class="btn btn-primary update-btn" value='Update'>
                            <button class="btn btn-secondary cancel-btn"><a href="{% url 'portfolio-page'  %}">Cancel</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type='text/javascript' src="{% static 'js/popper.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#modal').modal({
        keyboard:false,
        backdrop:'static'
        });
}); 

$(document).ready(function(){
    $('#modal').modal('show')
}); 

</script>


{% endblock %}